@use '../../styles/constants' as constants;

$categories-height: 38px;
$slider-height: 55px;
$view-height: calc(100% - 38px - 55px + 1px);

.container {
  height: 100%;
}

.header {
  position: sticky;
  top: constants.$header-height;
  z-index: 5;
  display: flex;
  height: $categories-height;
  background-color: white;
}

.categoriesWrapper {
  flex: 5;
}

.lineHeightSliderWrapper {
  flex: 1;
  display: flex;
}

.view {
  height: $view-height;
}

.slider {
  position: sticky;
  bottom: 0px;
  z-index: 5;
  height: $slider-height;
  background-color: white;
}
