@use "../constants" as *;

.container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-background-light);
}

.description {
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: $breakpoint-tablet) {
  .mainContent {
    grid-template-columns: 1fr 3fr;
  }

  .description {
    display: flex;
    flex-direction: column;
  }
}

.image {
  max-width: 100%;
}
