@use "../constants" as *;

.filters {
  display: flex;
  align-items: center;
  background-color: $color-background-light;
  height: 70px;
  margin-bottom: 4px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 1px 1px $color-secondary-main;
}

.empty {
  flex: 0 0 59px;
}

.searchField {
  flex: 1;
  display: flex;
  justify-content: center;
}

.popupFilter {
  flex: 0;
}
