.timelineContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.filters {
  display: flex;
  align-items: center;
  background-color: white;
}

.rangeSlider {
  flex: 1;
}

.popupFilter {
  flex: 0;
}
