$color-primary-light: #e8a600;
$color-primary-main: #ffa10d;
$color-primary-dark: #e87100;
$color-secondary-light: #0cbce8;
$color-secondary-main: #00ffee;
$color-secondary-dark: #0ce89b;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
