$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$color-primary: #fac725;
$color-secondary-light: #f5f5f5;
$color-secondary-main: #dbdbdb;
$color-secondary-dark: #a8a8a8;
$color-background-light: #ffffff;
$color-background-dark: #222222;

$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;

%ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
