@use "../../styles/constants" as constants;

$content-width: 90%;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: constants.$color-primary-main;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 10;
  flex: 0 0 constants.$header-height;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
}

.headerContent {
  width: $content-width;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mainContent {
  width: $content-width;
}

.footer {
  flex: 0;
  display: flex;
  justify-content: center;
}

.footerContent {
  width: $content-width;
}
