@use "../../styles/constants" as *;

$content-max-width: 1500px;
$content-width-smartphon: 99%;
$content-width-tablet: 95%;
$content-width-desktop: 90%;

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 1px);
}

.header {
  flex: 0 0 56px;
  display: flex;
  justify-content: center;
  background-color: var(--color-background-dark);
}

.headerContent {
  width: $content-width-smartphon;
  max-width: $content-max-width;
}

.main {
  flex: 1;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  &__heightLimit {
    overflow: visible;
  }
}

.toolbar {
  flex: 0;
  width: $content-width-smartphon;
  max-width: $content-max-width;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: $content-width-smartphon;
  max-width: $content-max-width;

  &__heightLimit {
    background-color: var(--color-background-light);
    min-height: 0px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .headerContent {
    width: $content-width-tablet;
  }
  .toolbar {
    width: $content-width-tablet;
  }
  .mainContent {
    width: $content-width-tablet;
  }
}

@media (min-width: $breakpoint-desktop) {
  .headerContent {
    width: $content-width-desktop;
  }
  .toolbar {
    width: $content-width-desktop;
  }
  .mainContent {
    width: $content-width-desktop;
  }
}
