@use "../../styles/constants" as constants;

$content-width: 90%;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 56px;
  display: flex;
  justify-content: center;
  background-color: constants.$color-dark;
  border-bottom: 1px solid #eee;
}

.headerContent {
  width: $content-width;
}

.main {
  flex: 1;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  flex: 0;
  width: $content-width;
  margin: 5px 0px;
  background-color: #fff;
}

.mainContent {
  flex: 1;
  width: $content-width;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 0px;
}
