@use '../../styles/constants' as *;

div.navigation-root {
  background-color: $color-background-dark;
}

.action-wrapper {
  color: $color-secondary-light;
}

.action-selected .action-wrapper {
  color: $color-primary;
}
