@use '../../styles/constants' as *;

div.navigation-root {
  background-color: var(--color-background-dark);
}

.action-wrapper {
  color: var(--color-secondary-light);
}

.action-selected .action-wrapper {
  color: var(--color-primary);
}
