@use "../../styles/constants" as *;

.actions {
  flex: 0 0 auto;
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
}

.leftButtonsWrap {
  flex-basis: 10%;
}

.sizeBtnsWrap {
  display: flex;
  justify-content: center;
}

.rightButtonsWrap {
  flex-basis: 10%;
  display: flex;
  justify-content: flex-end;
}

.sizeLabel__selected {
  color: var(--color-primary);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  flex: 0 0 auto;
  margin: 0;
  padding: 12px 24px;
  text-align: center;
}
