@use "../../styles/constants" as *;

.container {
  display: none;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  overflow: hidden;
  font-size: 9px;
  line-height: 9px;
  color: $color-secondary-dark;
  background-color: $color-background-light;
  cursor: default;

  &:nth-child(2n) {
    background-color: $color-secondary-light;
  }

  &.fullItemStr {
    writing-mode: horizontal-tb;
    justify-content: center;
    padding: 2px 0px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    display: flex;
  }
  .item {
    font-size: 9px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    display: flex;
  }
  .item {
    font-size: 10px;
  }
}
