.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
}

.year {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  background-color: rgba($color: #ddd, $alpha: 0.5);

  &:nth-child(2n) {
    background-color: rgba($color: #eee, $alpha: 0.5);
  }
}

.item {
  background-color: green;
  position: absolute;
  z-index: 2;
  font-size: 10px;
  height: 8px;
  cursor: pointer;
}
