.container {
  display: flex;
  align-items: center;
  border-radius: 4px 4px 0px 0px;
  background-color: white;
  padding: 4px;
}

.categories {
  display: flex;
  flex: 2;
}

.category {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.categoryColor {
  $size: 18px;
  width: $size;
  height: $size;
  border-radius: 2px;
  margin: 0px 12px;
}

.categoryLabel {
  margin-left: 5px;
}

.period {
  flex: 1;
}
