@use '../../styles/constants' as *;

.container {
  padding: 0px 12px;
  display: flex;
  align-items: center;
  background-color: $color-secondary-light;
  border-radius: 10px;
  box-shadow: 1px 1px 1px $color-secondary-main;
  flex: 1;
  max-width: 500px;
}
