.container {
  padding: 0px 12px;
  display: flex;
  align-items: center;
  background-color: rgba($color: #eee, $alpha: 0.5);
  border-radius: 10px;
  box-shadow: 1px 1px 1px #ccc;
  flex: 1;
  max-width: 500px;
}
